
#container {
   display: flex;  
   flex-wrap: wrap;
   width: 640px;
   height: 640px;
   justify-content: center;
   align-items: center;
  
} 

 .divSquare {

  border : 1px solid black;
  box-sizing: border-box;
} 









