* {
  box-sizing: border-box;
}
#container {
   display: flex;  
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 400px;
  
} 

#container > .divSquare {

  border : 1px solid black;
  height: 25px;
  width: 25px;  
  flex-direction: column;
}









